---
---

<section id="testimonials-section" class="py-5">
  <div class="container">
    <h2 class="text-center mb-5">Testimonios</h2>

    <!-- Elfsight Google Reviews Widget -->
    <script src="https://static.elfsight.com/platform/platform.js" async></script>
    <div class="elfsight-app-66274e5e-52d8-490e-8df4-d5ea45976ebb" data-elfsight-app-lazy></div>
  </div>
  <p class="text-center mt-2">Tambien puedes visitar mi perfil en <a href="https://www.workana.com/freelancer/66f3b0e7a046d3bcffe78e3c49b6e8a6" target="_blank" title="Ver perfil">Workana</a> para leer las reseñas de más de 300 clientes satisfechos</p>
</section>

<style>
  h2.text-center {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    background: linear-gradient(45deg, var(--gradient-1), var(--gradient-2));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
  }
</style>